<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="presentAddAlert()">
        <ion-button>
          <ion-icon name="add-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>point of interest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-list-header color="primary">My Points</ion-list-header>
   
    <ion-item *ngFor="let p of points; let i = index">
        <ion-icon name="flag"></ion-icon>
        <ion-label >{{p.name}} </ion-label>
        <ion-label >{{p.category}} </ion-label>
        <ion-button color="medium" slot="end" (click)="presentDeleteAlert(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

</ion-content>
