<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>MapsPoint</ion-list-header>
          
          <ion-item lines="none">
            <ion-icon slot="start" ios="planet-outline" md="planet-sharp"></ion-icon>
            <ion-label>Planetas locos</ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          
          <ion-list id="labels-list">
            <ion-item>
              <ion-list-header>Labels</ion-list-header>
              <ion-button color="medium" slot="end" (click)="presentAddLabel()">
                <ion-icon name="add-sharp"></ion-icon>
              </ion-button>
              <ion-button color="medium" slot="end"(click)="presentDeleteLabel(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
  
            <ion-item *ngFor="let l of labels; let i = index" lines="none">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{l.name}}</ion-label>
            </ion-item>
          </ion-list>

          

          
        </ion-list>
        <ion-list id="version-info">
          <ion-list-header>Acerca de:</ion-list-header>

         
        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
